<div class="h-full bg-gray-50 dark:bg-gray-800 min-h-screen">
  <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <ts-application-logo
        cssClass="mx-auto h-10 w-auto"
        [height]="40"
        [width]="47" />
      <h2
        class="mt-6 dark:mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 dark:text-white"
      >
        Change Password
      </h2>
      @if (isFirstLogin()){
        <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-400">
          For security reasons, you must change your password before continuing
        </p>
      }
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
      <div class="bg-white dark:bg-gray-900 px-6 py-12 shadow sm:rounded-lg sm:px-12">
        @if (errorMessage()){
            <ts-alert type="error" [message]="errorMessage()" />
        }
        @if (successMessage()){
            <ts-alert type="success" [message]="successMessage()" />
        }
        <form class="space-y-6" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <ts-text-input
            formControlName="currentPassword"
            label="Current Password"
            [showRequiredIndicator]="true"
            typeField="password"
          />
          <ts-text-input
            formControlName="newPassword"
            label="New Password"
            [showRequiredIndicator]="true"
            typeField="password"
          />
          <ts-text-input
            formControlName="confirmPassword"
            label="Confirm New Password"
            [showRequiredIndicator]="true"
            typeField="password"
          />
          <div class="mt-6 grid grid-cols-2 gap-4">
            <ts-button 
              type="button" 
              variant="neutralSecondary" 
              label="Logout" 
              (buttonAction)="onLogout()"
            />
            <ts-button
              type="submit"
              variant="primary"
              label="Change Password"
              [disabled]="passwordForm.invalid || isLoading()"
              [isLoading]="isLoading()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>