<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" aria-label="Items grid" i18n-aria-label="@@gridListAriaLabel">
    @for(item of items(); track $index) {
      <li class="col-span-1 flex flex-col divide-y divide-gray-200 dark:divide-gray-700 rounded-lg bg-white dark:bg-gray-800 text-center shadow">
        <div class="flex flex-1 flex-col p-5 pt-7 pb-7">
          @if(hasImage()) {
            <div class="mx-auto w-full flex-shrink-0 rounded-xl flex items-center justify-center bg-gray-100 dark:bg-gray-700 text-gray-500 dark:text-gray-400 overflow-hidden aspect-[3/2]">
              <img 
                  class="h-full w-full object-cover" 
                  [ngSrc]="item['imageUrl'] || placeholderImage()" 
                  [width]="600"
                  [height]="400"
                  priority="low"
                  alt="Item image"
              />
            </div>
          }
          
          @for(column of columns(); track column.key) {
            @if (column.key === primaryField()) {
              <h3 class="mt-6 text-sm font-medium text-gray-900 dark:text-white truncate px-4">
                @if (column.gridLabelTemplate || column.stackLabelTemplate || column.cellTemplate) {
                  <ng-container *ngTemplateOutlet="getCellTemplate(column, item); context: {$implicit: item}" />
                } @else {
                  {{ item[column.key] }}
                }
              </h3>
            }
          }
          
          <dl class="mt-1 flex flex-grow flex-col justify-between">
            @for(column of columns(); track column.key) {
              @if (selectedFields().has(column.key) && column.key !== primaryField() && hasValue(item, column.key)) {
                <div class="mt-2 text-xs text-gray-500 dark:text-gray-400 px-4 text-left">
                    @if (column.gridLabelTemplate || column.stackLabelTemplate || column.cellTemplate) {
                      <ng-container *ngTemplateOutlet="getCellTemplate(column, item); context: {$implicit: item}" />
                    } @else {
                      @if (item[column.key]) {
                        <dt class="font-medium inline">{{ column.header }}: </dt>
                        <dd class="inline">{{ item[column.key] }}</dd>
                      }
                    }
                </div>
              }
            }
          </dl>
        </div>
        
        <div>
          <div class="-mt-px flex">
            <div class="flex flex-1">
              <button 
                type="button"
                class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-2 rounded-bl-lg border border-transparent py-4 text-sm font-medium text-gray-700 dark:text-gray-300 hover:text-gray-500 dark:hover:text-white transition-colors"
                (click)="onEditButtonClicked(item)"
                aria-label="Edit item"
                i18n-aria-label="@@editItemAriaLabel"
              >
                <fa-icon class="h-5 w-5 text-gray-400" [icon]="['fas', 'pencil']" />
                <span i18n="@@editButtonLabel">Edit</span>
              </button>
            </div>
          </div>
        </div>
      </li>
    }
  </ul>