<div class="relative transform overflow-hidden rounded-lg bg-white dark:bg-gray-900 shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-md max-h-[90vh]">
  <div class="bg-gray-50 dark:bg-gray-800 px-4 sm:px-6 h-14 flex justify-between items-center">
    @if (modalTitle()) {
      <h3
        class="text-base font-semibold leading-6 text-gray-900 dark:text-white pr-8"
        id="modal-title"
      >
        {{ modalTitle() }}
      </h3>
    } @else {
      <div></div>
    }
    <button 
      type="button" 
      (click)="close()"
      class="rounded-full py-1 px-2 text-gray-400 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-sky-500 flex-shrink-0">
      <span class="sr-only">Close</span>
      <fa-icon [icon]="['fas', 'xmark']" class="h-5 w-5" />
    </button>
  </div>
  <div class="border-t border-b border-gray-200 dark:border-gray-700 px-4 py-5 sm:px-6 sm:py-6 overflow-y-auto" style="max-height: calc(90vh - 112px);"
  cdkScrollable>
    <ng-content select="[modal-body]" />
  </div>
  <div class="bg-gray-50 dark:bg-gray-800 px-4 sm:px-6 h-14 flex flex-row-reverse items-center">
    <ng-content select="[modal-footer]" />
  </div>
</div>