{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 2,
    "trailingComma": "all",
    "bracketSpacing": true,
    "plugins": [
        "prettier-plugin-multiline-arrays",
        "prettier-plugin-organize-imports",
        "prettier-plugin-organize-attributes"
    ],
    "attributeGroups": ["^class$", "^(id|name)$", "$DEFAULT", "^aria-"]
}